/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}





/* Dropdown button styles */
.dropdown-button {
    padding: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #250606;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    gap: 10px;
    width: 282px;
    /* margin-bottom: 20px;  */

}

/* Dropdown button hover and active styles */
.dropdown-button:hover,
.dropdown-button.active {
    background: #D7282F;
    color: #fff;
}




/* Hover ve active durumunda SVG iconların stroke rengi */
/* Target the first SVG inside the button and set its fill to white */
.dropdown-button svg:first-of-type path {
    fill: #D7282F !important;
    /* Fill color for the first SVG */
}


.active-not-drop {
    background: #D7282F;
    color: #fff;
    /* stroke: #fff; */
    fill: #fff !important;
}

.active-not-drop svg:first-of-type path {
    fill: #fff !important;
    /* .active-not-drop sınıfı eklendiğinde SVG dolgu rengini beyaz yap */
}

/* Target the second SVG inside the button and set its stroke to white */
.dropdown-button svg.arrow path {
    stroke: #D7282F !important;
    /* Stroke color for the second SVG */
}

/* Additional hover and active states to ensure colors change */
.dropdown-button:hover svg:first-of-type path,
.dropdown-button.active svg:first-of-type path {
    fill: #fff !important;
    /* Ensure the fill stays white on hover/active */
}

.dropdown-button:hover svg.arrow path,
.dropdown-button.active svg.arrow path {
    stroke: #fff !important;
    /* Ensure the stroke stays white on hover/active */
}


.dropdown-button svg {
    transition: transform 0.3s ease;

}




/* Dropdown content styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9;
    background: #F6F2EE;
    width: 282px;
    overflow: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-content a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #250606;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Dropdown menu item styles */
.dropdown-content li {
    padding: 16px 8px;
    position: relative;
    transition: background 0.3s, color 0.3s;
    background: rgba(246, 242, 238, 1);

}










.dropdown-content li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.dropdown-content li:hover {
    background: rgba(246, 242, 238, 1);
}

.dropdown-content li:hover a {
    color: var(--text-active-color);
}

.dropdown-content li:hover::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: var(--text-active-color);
}


.dropdown-content li.active123 a {
    color: var(--text-active-color);
}

.dropdown-content li.active123::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: var(--text-active-color);
}


/* Show class to display dropdown content */
.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    position: static;
}

/* Arrow SVG animation */
.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(90deg);
}

/* Grid container styles */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
}

/* Sidebar styles */
.sidebar {

    color: white;
    width: 282px;
    /* Sidebar genişliği */
    padding-top: 22px;
    /* İç boşluk */
    margin-top: 0px;
    /* background: #333; */
    /* Arka plan rengi, isteğe bağlı */
}

.sidebar ul {
    list-style-type: none;
    /* Liste stilini kaldırma */
}



/* Content styles */
.content {
    padding: 20px;
    /* İç boşluk */
}

/* Partnyorlar grid container */
.partnyorlar-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 70px;
}



.partnyorlar-grid-card {
    min-width: 180px;
    border: 1px solid rgba(218, 223, 225, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    transition: all;
}

.partnyorlar-grid-card:hover {
    border: 3px solid #C8A977
}

.partnyorlar-grid-card img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.company-about-desc {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #3E4145;
}

.one-path {
    margin-top: 20px;
}


.company-about-title {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #250606;
    margin-top: 32px;
    margin-bottom: 12px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Tek sütun düzeni */
    }

    .sidebar {
        width: 100%;
        /* Yan çubuğun genişliği %100 olacak */
    }
}